<a href="https://colab.research.google.com/github/durgeshwarmajhi9/IOT_Assignment_2_36718/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(sum(list(map(int, [digit for digit in input("Enter a number:")]))))

Enter a number:12345
15

In [ ]:
print(sum(map(int, [digit for digit in input ( " Enter a number: " ) if int (digit) % 2 == 0 ])))

 Enter a number: 12345678
20

In [ ]:
print(sum(map(int, [digit for digit in input("Enter a number:") if int(digit)%2!=0])))

Enter a number:123456789
25

In [ ]:
print(sum(map(int, [i for i in input("Enter a number:") if i in ('2', '3', '5', '7')])))

Enter a number:273564
17

In [ ]:
n = input("Enter a number:")
evens = [int(i) for i in n if int(i)%2==0 and int(i)%4!=0]
odds = [int(i) for i in n if int(i)%2!=0 and int(i)%6!=0]
print(sum(evens)/len(evens) - sum(odds)/len(odds))

Enter a number:243857
-3.0

In [4]:
num = input("Enter a number:")
k = int(input("Enter K:"))
print("\n Front:" , num[k-1], "\n Back:", num[-k]) if k<len(num) else print("\n Invalid K")

Enter a number:454725
Enter K:2

 Front: 5
 Back: 2

In [6]:
n = input("Enter a number:")
print(sum(int(n[i])*int(n[i+1]) for i in range(0, len(n)-1)))

Enter a number:2346
42

In [7]:
n = list(filter(lambda x : int(x)%2==0, input("Enter a number:")))
print(sum(int(n[i])*int(n[i+1]) for i in range(0, len(n)-1)))

Enter a number:25346
32

In [8]:
n = list(filter(lambda x : int(x)%2!=0, input("Enter a number:")))
print(sum(int(n[i])*int(n[i+1]) for i in range(0, len(n)-1)))

Enter a number:65341
18

In [9]:
n = list(filter(lambda x : x in ['2', '3', '5', '7'], input("Enter number:")))
print(sum(int(n[i])*int(n[i+1]) for i in range(0, len(n)-1)))

Enter number:26537
46

In [10]:
n = input("Enter a number:")
evens = list(filter(lambda x : x in [0, 4, 8], map(int, n)))
odds = list(filter(lambda x : x in [1, 5, 9], map(int, n)))
print(sum([evens[i]*evens[i+1] for i in range(len(evens)-1)])-sum([odds[i]*odds[i+1] for i in range(len(odds)-1)]))

Enter a number:2134658
27

In [11]:
print(sum(int(i)*int(j) for (i,j) in zip(input("Enter a number:"), input("Enter another number:"))))

Enter a number:7896
Enter another number:1234
74

In [12]:
print(sum(i*j for (i,j) in zip(filter(lambda x : x%2==0, map(int, input("Enter first number:"))), filter(lambda x : x%2!=0, map(int, input("Enter second number:"))))))

Enter first number:1234
Enter second number:4567
38

In [13]:
from math import factorial
x = int(input("Enter x:"))
n = int(input("Enter n:"))
print(1+sum([(-1)**(i+1)*x**i/factorial(i) for i in range(2, n+1)]))

Enter x:2
Enter n:6
-0.15555555555555567

In [14]:
from math import factorial
x = int(input("Enter x:"))
n = int(input("Enter n:"))
print(sum([(-1)**i*x**j/factorial(j) for i,j in enumerate(range(1, n+1, 2))]))

Enter x:2
Enter n:6
0.9333333333333333

In [15]:
from math import factorial
x = int(input("Enter x:"))
n = int(input("Enter n:"))
print(1+sum([x**i/factorial(i) for i in range(2, n+1, 2)]))

Enter x:2
Enter n:6
3.7555555555555555

In [16]:
from math import factorial
num = input("Enter a number:")
x = sum([int(i) for i in num if i in ('0', '4', '6')])
n = sum([int(i) for i in num if i in ('5', '7', '9')])
print(sum([(-1)**i*x**j/factorial(j) for i,j in enumerate(range(1, n+1, 2))]))

Enter a number:316245
676.6666666666667

In [17]:
def sieve_of_eratosthenes(start, end):
 prime = [True for i in range(end+1)]
 p=2
 while p*p<=end:
    if prime[p]:
        for i in range(p*p, end+1, p): prime[i] = False
    p+=1
 for i in range(max(2, start), end+1):
   if prime[i]: print(i, end=", ")
sieve_of_eratosthenes(int(input("Enter starting number:")), int(input("Enter ending number:")))

Enter starting number:5
Enter ending number:100
5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,

In [18]:
result = {"Student_{}".format(i+1): [int(input("Enter marks of student_{} for subject_{}: ".format(i+1, j+1))) for j in range(5)] for i in range(10)}
[print("Total marks of Student_{} is {}".format(i+1, total)) for i,total in enumerate([sum(result[student]) for student in result])]

Enter marks of student_1 for subject_1: 35
Enter marks of student_1 for subject_2: 70
Enter marks of student_1 for subject_3: 21
Enter marks of student_1 for subject_4: 50
Enter marks of student_1 for subject_5: 60
Enter marks of student_2 for subject_1: 78
Enter marks of student_2 for subject_2: 80
Enter marks of student_2 for subject_3: 98
Enter marks of student_2 for subject_4: 97
Enter marks of student_2 for subject_5: 50
Enter marks of student_3 for subject_1: 68
Enter marks of student_3 for subject_2: 25
Enter marks of student_3 for subject_3: 88
Enter marks of student_3 for subject_4: 90
Enter marks of student_3 for subject_5: 76
Enter marks of student_4 for subject_1: 77
Enter marks of student_4 for subject_2: 89
Enter marks of student_4 for subject_3: 81
Enter marks of student_4 for subject_4: 69
Enter marks of student_4 for subject_5: 66
Enter marks of student_5 for subject_1: 55
Enter marks of student_5 for subject_2: 64
Enter marks of student_5 for subject_3: 69
Enter marks of student_5 for subject_4: 90
Enter marks of student_5 for subject_5: 76
Enter marks of student_6 for subject_1: 87
Enter marks of student_6 for subject_2: 45
Enter marks of student_6 for subject_3: 77
Enter marks of student_6 for subject_4: 65
Enter marks of student_6 for subject_5: 51
Enter marks of student_7 for subject_1: 42
Enter marks of student_7 for subject_2: 43
Enter marks of student_7 for subject_3: 76
Enter marks of student_7 for subject_4: 75
Enter marks of student_7 for subject_5: 89
Enter marks of student_8 for subject_1: 65
Enter marks of student_8 for subject_2: 76
Enter marks of student_8 for subject_3: 77
Enter marks of student_8 for subject_4: 95
Enter marks of student_8 for subject_5: 98
Enter marks of student_9 for subject_1: 45
Enter marks of student_9 for subject_2: 56
Enter marks of student_9 for subject_3: 60
Enter marks of student_9 for subject_4: 71
Enter marks of student_9 for subject_5: 55
Enter marks of student_10 for subject_1: 79
Enter marks of student_10 for subject_2: 88
Enter marks of student_10 for subject_3: 98
Enter marks of student_10 for subject_4: 95
Enter marks of student_10 for subject_5: 89
Total marks of Student_1 is 236
Total marks of Student_2 is 403
Total marks of Student_3 is 347
Total marks of Student_4 is 382
Total marks of Student_5 is 354
Total marks of Student_6 is 325
Total marks of Student_7 is 325
Total marks of Student_8 is 411
Total marks of Student_9 is 287
Total marks of Student_10 is 449

[None, None, None, None, None, None, None, None, None, None]

In [20]:
keys = ["Roll", "Regd", "Name", "Branch", "Stream", "Sem", "Phone", "Address"]
details = {k: input("Please enter your {}:".format(k)) for k in keys}
print( " My name is {}. I am from {}. Currently I am in Sem-{} of {} - {}. My roll no is {} and registration number is {}. To know more, call {}."
.format(details["Name"], details["Address"], details["Sem"], details["Stream"],
        details["Branch"], details["Roll"], details["Regd"], details["Phone"]))

Please enter your Roll:36718
Please enter your Regd:1701105006
Please enter your Name:Durgeshwar Majhi
Please enter your Branch:CSE
Please enter your Stream:B. Tech
Please enter your Sem:7
Please enter your Phone:8080909078
Please enter your Address:Nalconagar, Angul
 My name is Durgeshwar Majhi. I am from Nalconagar, Angul. Currently I am in Sem-7 of B. Tech - CSE. My roll no is 36718 and registration number is 1701105006. To know more, call 8080909078.

In [21]:
fib = [0, 1]
[fib.append(fib[i-2]+fib[i-1]) for i in range(2, int(input("Enter N:")))]
print(*fib, sep=", ")

Enter N:10
0, 1, 1, 2, 3, 5, 8, 13, 21, 34

In [23]:
s = input("Enter a String:")
if len(s) < 3: print(s)
elif not s.endswith('ing'): print(s+'ing')
else : print(s+'ly')

Enter a String:String
Stringly

In [24]:
s = input("Enter a String:")
print(''.join([s[0]]+[c if c!=s[0] else '$' for c in s[1:]]))

Enter a String:onion
oni$n

In [25]:
print(sorted([input("Enter name of fruit_ %s :"%(i+1)).strip().upper() for i in range(10)]))

Enter name of fruit_ 1 :Watermellon
Enter name of fruit_ 2 :Banana
Enter name of fruit_ 3 :Apple
Enter name of fruit_ 4 :Orange
Enter name of fruit_ 5 :Pineapple
Enter name of fruit_ 6 :Clementines
Enter name of fruit_ 7 :Fig
Enter name of fruit_ 8 :Grapes
Enter name of fruit_ 9 :Mango
Enter name of fruit_ 10 :Litchi
['APPLE', 'BANANA', 'CLEMENTINES', 'FIG', 'GRAPES', 'LITCHI', 'MANGO', 'ORANGE', 'PINEAPPLE', 'WATERMELLON']

In [26]:
l = [int(input("Enter value_ %2d:"%(i+1))) for i in range(20)]
evens = list(filter(lambda x : x%2==0 and x%4!=0, l))
odds = list(filter(lambda x : x%2!=0 and x%5!=0, l))
print(sum(evens)/len(evens) - sum(odds)/len(odds))

Enter value_  1:243
Enter value_  2:23
Enter value_  3:1
Enter value_  4:56
Enter value_  5:34
Enter value_  6:6783
Enter value_  7:45324
Enter value_  8:4
Enter value_  9:34
Enter value_ 10:67
Enter value_ 11:234
Enter value_ 12:56
Enter value_ 13:243
Enter value_ 14:768
Enter value_ 15:34
Enter value_ 16:67
Enter value_ 17:234
Enter value_ 18:678
Enter value_ 19:543
Enter value_ 20:345
-788.25

In [28]:
l = sorted([int(input("Enter value_ %2d :"%(i+1))) for i in range(20)])
print("Largest:", *l[-1:-4:-1], "\nSmallest:", *l[:3])

Enter value_  1 :12
Enter value_  2 :90
Enter value_  3 :78
Enter value_  4 :45
Enter value_  5 :23
Enter value_  6 :35
Enter value_  7 :46
Enter value_  8 :57
Enter value_  9 :68
Enter value_ 10 :96
Enter value_ 11 :25
Enter value_ 12 :47
Enter value_ 13 :58
Enter value_ 14 :69
Enter value_ 15 :70
Enter value_ 16 :15
Enter value_ 17 :29
Enter value_ 18 :59
Enter value_ 19 :84
Enter value_ 20 :72
Largest: 96 90 84
Smallest: 12 15 23

In [29]:
from collections import Counter
c = Counter([int(input("Enter value_ %2d :"%(i+1))) for i in range(20)])
[print(k, "is repeated", c[k], "times") for k in c if c[k]>1]

Enter value_  1 :12
Enter value_  2 :23
Enter value_  3 :34
Enter value_  4 :45
Enter value_  5 :56
Enter value_  6 :78
Enter value_  7 :45
Enter value_  8 :23
Enter value_  9 :23
Enter value_ 10 :67
Enter value_ 11 :14
Enter value_ 12 :23
Enter value_ 13 :13
Enter value_ 14 :69
Enter value_ 15 :86
Enter value_ 16 :98
Enter value_ 17 :69
Enter value_ 18 :69
Enter value_ 19 :41
Enter value_ 20 :55
23 is repeated 4 times
45 is repeated 2 times
69 is repeated 3 times

[None, None, None]

In [30]:
from math import pi, exp
consts = (pi, exp)
print("Area of circle is:", consts[0]*int(input("Enter radius of circle:"))**2)

Enter radius of circle:7
Area of circle is: 153.93804002589985